article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

.mdl-layout__content {
    display: block !important;
}

.documentation .tsd-index-panel ul.tsd-index-list li, .documentation .tsd-navigation li  { 
    word-wrap:break-word;
    word-break:break-all;
}

.tsd-page-title { padding: 70px 0 20px 0; margin: 0 0 40px 0; background: #fff; box-shadow: 0 0 5px rgba(0, 0, 0, 0.35); }
.tsd-page-title h1 { margin: 0; }

.container { max-width: 1200px; margin: 0 auto; padding: 0 40px; }
@media (max-width: 640px) { .container { padding: 0 20px; } }

.container-main { padding-bottom: 200px; }

.tsd-breadcrumb { margin: 0; padding: 0; color: #808080; }
.tsd-breadcrumb a { color: #808080; text-decoration: none; }
.tsd-breadcrumb a:hover { text-decoration: underline; }
.tsd-breadcrumb li { display: inline; }
.tsd-breadcrumb li:after { content: " / "; }

.row { position: relative; margin: 0 -10px; }
.row:after { visibility: hidden; display: block; content: ""; clear: both; height: 0; }


.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11 { box-sizing: border-box; float: left; padding: 0 10px; }

.col-4 { width: 33.33333%; }

.col-8 { width: 66.66667%; }


a {
    color: #4da6ff;
    text-decoration: none;
}

.tsd-kind-icon { display: block; position: relative; padding-left: 20px; text-indent: -20px; }
.tsd-kind-icon:before { content: ''; display: inline-block; vertical-align: middle; width: 17px; height: 17px; margin: 0 3px 2px 0; background-image: url(../../../../../../../node_modules/typedoc-default-themes/bin/default/assets/images/icons.png); }
@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) { .tsd-kind-icon:before { background-image: url(../../../../../../../node_modules/typedoc-default-themes/bin/default/assets/images/icons@2x.png); background-size: 238px 204px; } }


.documentation .col > :first-child, .documentation .col-1 > :first-child, .documentation .col-2 > :first-child, .documentation .col-3 > :first-child, .documentation .col-4 > :first-child, .documentation .col-5 > :first-child, .documentation .col-6 > :first-child, .documentation .col-7 > :first-child, .documentation .col-8 > :first-child, .documentation .col-9 > :first-child, .documentation .col-10 > :first-child, .documentation .col-11 > :first-child, .documentation .tsd-panel > :first-child, .documentation ul.tsd-descriptions > li > :first-child, .documentation .col > :first-child > :first-child, .documentation .col-1 > :first-child > :first-child, .documentation .col-2 > :first-child > :first-child, .documentation .col-3 > :first-child > :first-child, .documentation .col-4 > :first-child > :first-child, .documentation .col-5 > :first-child > :first-child, .documentation .col-6 > :first-child > :first-child, .documentation .col-7 > :first-child > :first-child, .documentation .col-8 > :first-child > :first-child, .documentation .col-9 > :first-child > :first-child, .documentation .col-10 > :first-child > :first-child, .documentation .col-11 > :first-child > :first-child, .documentation .tsd-panel > :first-child > :first-child, ul.tsd-descriptions > li > :first-child > :first-child, .documentation .col > :first-child > :first-child > :first-child, .documentation .col-1 > :first-child > :first-child > :first-child, .documentation .col-2 > :first-child > :first-child > :first-child, .documentation .col-3 > :first-child > :first-child > :first-child, .documentation .col-4 > :first-child > :first-child > :first-child, .documentation .col-5 > :first-child > :first-child > :first-child, .documentation .col-6 > :first-child > :first-child > :first-child, .documentation .col-7 > :first-child > :first-child > :first-child, .documentation .col-8 > :first-child > :first-child > :first-child, .documentation .col-9 > :first-child > :first-child > :first-child, .documentation .col-10 > :first-child > :first-child > :first-child, .documentation .col-11 > :first-child > :first-child > :first-child, .documentation .tsd-panel > :first-child > :first-child > :first-child, ul.tsd-descriptions > li > :first-child > :first-child > :first-child { margin-top: 0; }
.documentation .col > :last-child, .documentation .col-1 > :last-child, .documentation .col-2 > :last-child, .documentation .col-3 > :last-child, .documentation .col-4 > :last-child, .documentation .col-5 > :last-child, .documentation .col-6 > :last-child, .documentation .col-7 > :last-child, .documentation .col-8 > :last-child, .documentation .col-9 > :last-child, .documentation .col-10 > :last-child, .documentation .col-11 > :last-child, .documentation .tsd-panel > :last-child, ul.tsd-descriptions > li > :last-child, .documentation .col > :last-child > :last-child, .documentation .col-1 > :last-child > :last-child, .documentation .col-2 > :last-child > :last-child, .documentation .col-3 > :last-child > :last-child, .documentation .col-4 > :last-child > :last-child, .documentation .col-5 > :last-child > :last-child, .documentation .col-6 > :last-child > :last-child, .documentation .col-7 > :last-child > :last-child, .documentation .col-8 > :last-child > :last-child, .documentation .col-9 > :last-child > :last-child, .documentation .col-10 > :last-child > :last-child, .documentation .col-11 > :last-child > :last-child, .documentation .tsd-panel > :last-child > :last-child, ul.tsd-descriptions > li > :last-child > :last-child, .documentation .col > :last-child > :last-child > :last-child, .documentation .col-1 > :last-child > :last-child > :last-child, .documentation .col-2 > :last-child > :last-child > :last-child, .documentation .col-3 > :last-child > :last-child > :last-child, .documentation .col-4 > :last-child > :last-child > :last-child, .documentation .col-5 > :last-child > :last-child > :last-child, .documentation .col-6 > :last-child > :last-child > :last-child, .documentation .col-7 > :last-child > :last-child > :last-child, .documentation .col-8 > :last-child > :last-child > :last-child, .documentation .col-9 > :last-child > :last-child > :last-child, .documentation .col-10 > :last-child > :last-child > :last-child, .documentation .col-11 > :last-child > :last-child > :last-child, .documentation .tsd-panel > :last-child > :last-child > :last-child, ul.tsd-descriptions > li > :last-child > :last-child > :last-child { margin-bottom: 0; }

.documentation .tsd-panel-group { margin: 60px 0; }
.documentation .tsd-panel-group > h1, .documentation .tsd-panel-group > h2, .documentation .tsd-panel-group > h3 { padding-left: 20px; padding-right: 20px; }

.tsd-panel.tsd-comment .lead { font-size: 1.1em; line-height: 1.333em; margin-bottom: 2em; }
.tsd-panel.tsd-comment .lead:last-child { margin-bottom: 0; }

.documentation .tsd-panel { margin: 20px 0; padding: 20px; background-color: #fff; box-shadow: 0 0 4px rgba(0, 0, 0, 0.25); }
.documentation .tsd-panel:empty { display: none; }
.documentation .tsd-panel > h1, .documentation .tsd-panel > h2, .documentation .tsd-panel > h3 { margin: 1.5em -20px 10px -20px; padding: 0 20px 10px 20px; border-bottom: 1px solid #eee; }
.documentation .tsd-panel > h1.tsd-before-signature, .documentation .tsd-panel > h2.tsd-before-signature, .documentation .tsd-panel > h3.tsd-before-signature { margin-bottom: 0; border-bottom: 0; }
.documentation .tsd-panel table { display: block; width: 100%; overflow: auto; margin-top: 10px; word-break: normal; word-break: keep-all; }
.documentation .tsd-panel table th { font-weight: bold; }
.documentation .tsd-panel table th, .documentation .tsd-panel table td { padding: 6px 13px; border: 1px solid #ddd; }
.documentation .tsd-panel table tr { background-color: #fff; border-top: 1px solid #ccc; }
.documentation .tsd-panel table tr:nth-child(2n) { background-color: #f8f8f8; }
.documentation .tsd-panel > .tsd-signature { margin-left: -20px; margin-right: -20px; border-width: 1px 0; }
.documentation .tsd-panel > .tsd-signature.tsd-kind-icon { padding-left: 40px; }
.documentation .tsd-panel > .tsd-signature.tsd-kind-icon:before { left: 20px; }
.documentation .tsd-panel > .tsd-signatures { margin-left: -20px; margin-right: -20px; border-width: 1px 0; }
.documentation .tsd-panel > .tsd-signatures .tsd-signature.tsd-kind-icon { padding-left: 40px; }
.documentation .tsd-panel > .tsd-signatures .tsd-signature.tsd-kind-icon:before { left: 20px; }
.documentation .tsd-panel > a.anchor + .tsd-signatures { border-top-width: 0; margin-top: -20px; }

.documentation .tsd-signature { margin: 0 0 1em 0; padding: 10px; border: 1px solid #eee; font-family: Menlo, Monaco, Consolas, "Courier New", monospace; font-size: 14px; }
.documentation .tsd-signature.tsd-kind-icon { padding-left: 30px; }
.documentation .tsd-signature.tsd-kind-icon:before { top: 10px; left: 10px; }
.documentation .tsd-signatures { padding: 0; margin: 0 0 1em 0; border: 1px solid #eee; }
.documentation .tsd-signatures .tsd-signature { margin: 0; border-width: 1px 0 0 0; -webkit-transition: background-color 0.1s; transition: background-color 0.1s; }
.documentation .tsd-signatures .tsd-signature:first-child { border-top-width: 0; }
.documentation .tsd-signatures .tsd-signature.current { background-color: #eee; }
.documentation .tsd-signatures.active > .tsd-signature { cursor: pointer; }


.documentation .tsd-signature-symbol { color: #808080; font-weight: normal; }

.tsd-typography { line-height: 1.333em; }
.tsd-typography ul { list-style: square; padding: 0 0 0 20px; margin: 0; }
.tsd-typography h4, .tsd-typography .tsd-index-panel h3, .tsd-index-panel .tsd-typography h3, .tsd-typography h5, .tsd-typography h6 { font-size: 1em; margin: 0; }
.tsd-typography h5, .tsd-typography h6 { font-weight: normal; }
.tsd-typography p, .tsd-typography ul, .tsd-typography ol { margin: 1em 0; }

.documentation h4, .documentation .tsd-index-panel h3 { font-size: 1em; margin: 1.33em 0; line-height: initial; }

.documentation .tsd-index-panel .tsd-index-content { margin-bottom: -30px !important; }
.documentation .tsd-index-panel .tsd-index-section { margin-bottom: 30px !important; margin:0;}
.documentation .tsd-index-panel h3 { margin: 0 -20px 10px -20px; padding: 0 20px 10px 20px; border-bottom: 1px solid #eee; }
.documentation .tsd-index-panel ul.tsd-index-list { -webkit-column-count: 3; -moz-column-count: 3; -ms-column-count: 3; -o-column-count: 3; column-count: 3; -webkit-column-gap: 20px; -moz-column-gap: 20px; -ms-column-gap: 20px; -o-column-gap: 20px; column-gap: 20px; padding: 0; list-style: none; line-height: 1.333em; }
@media (max-width: 900px) { .documentation .tsd-index-panel ul.tsd-index-list { -webkit-column-count: 1; -moz-column-count: 1; -ms-column-count: 1; -o-column-count: 1; column-count: 1; } }
@media (min-width: 901px) and (max-width: 1024px) { .documentation .tsd-index-panel ul.tsd-index-list { -webkit-column-count: 2; -moz-column-count: 2; -ms-column-count: 2; -o-column-count: 2; column-count: 2; } }
.documentation .tsd-index-panel ul.tsd-index-list li { -webkit-column-break-inside: avoid; -moz-column-break-inside: avoid; -ms-column-break-inside: avoid; -o-column-break-inside: avoid; -webkit-page-break-inside: avoid; -moz-page-break-inside: avoid; -ms-page-break-inside: avoid; -o-page-break-inside: avoid; page-break-inside: avoid; }
.documentation .tsd-index-panel a, .documentation .tsd-index-panel .tsd-parent-kind-module a { color: #9600ff; }
.documentation .tsd-index-panel .tsd-parent-kind-interface a { color: #7da01f; }
.documentation .tsd-index-panel .tsd-parent-kind-enum a { color: #cc9900; }
.documentation .tsd-index-panel .tsd-parent-kind-class a { color: #4da6ff; }
.documentation .tsd-index-panel .tsd-kind-module a { color: #9600ff; }
.documentation .tsd-index-panel .tsd-kind-interface a { color: #7da01f; }
.documentation .tsd-index-panel .tsd-kind-enum a { color: #cc9900; }
.documentation .tsd-index-panel .tsd-kind-class a { color: #4da6ff; }
.documentation .tsd-index-panel .tsd-is-private a { color: #808080; }

.documentation ul.tsd-descriptions h4, ul.tsd-descriptions .tsd-index-panel h3, .tsd-index-panel ul.tsd-descriptions h3 { font-size: 16px; margin: 1em 0 0.5em 0; }

.documentation .tsd-anchor { position: absolute; top: -100px; }

.documentation .tsd-member { position: relative; }
.documentation .tsd-member .tsd-anchor + h3 { margin-top: 0; margin-bottom: 0; border-bottom: none; }

@media (min-width: 901px) { .documentation .menu-sticky-wrap { position: static; }
.documentation .no-csspositionsticky .menu-sticky-wrap.sticky { position: fixed; }
.documentation .no-csspositionsticky .menu-sticky-wrap.sticky-current { position: fixed; }
.documentation .no-csspositionsticky .menu-sticky-wrap.sticky-current ul.before-current, .documentation .no-csspositionsticky .menu-sticky-wrap.sticky-current ul.after-current { opacity: 0; }
.documentation .no-csspositionsticky .menu-sticky-wrap.sticky-bottom { position: absolute; top: auto !important; left: auto !important; bottom: 0; right: 0; }
.documentation .csspositionsticky .menu-sticky-wrap.sticky { position: -webkit-sticky; position: sticky; }
.documentation .csspositionsticky .menu-sticky-wrap.sticky-current { position: -webkit-sticky; position: sticky; } }

.documentation .tsd-navigation { padding: 0 0 0 40px; }
.documentation .tsd-navigation a { display: block; padding-top: 2px; padding-bottom: 2px; border-left: 2px solid transparent; color: #222; text-decoration: none; -webkit-transition: border-left-color 0.1s; transition: border-left-color 0.1s; }
.documentation .tsd-navigation .tsd-kind-enum-member a:hover { text-decoration: underline; cursor: pointer;}
.documentation .tsd-navigation ul { margin: 0; padding: 0; list-style: none; }
.documentation .tsd-navigation li { padding: 0; }

.documentation .tsd-navigation.primary { padding-bottom: 40px; }
.documentation .tsd-navigation.primary a { display: block; padding-top: 6px; padding-bottom: 6px; }
.documentation .tsd-navigation.primary ul li a { padding-left: 5px; }
.documentation .tsd-navigation.primary ul li li a { padding-left: 25px; }
.documentation .tsd-navigation.primary ul li li li a { padding-left: 45px; }
.documentation .tsd-navigation.primary ul li li li li a { padding-left: 65px; }
.documentation .tsd-navigation.primary ul li li li li li a { padding-left: 85px; }
.documentation .tsd-navigation.primary ul li li li li li li a { padding-left: 105px; }
.documentation .tsd-navigation.primary > ul { border-bottom: 1px solid #eee; }
.documentation .tsd-navigation.primary li { border-top: 1px solid #eee; }
.documentation .tsd-navigation.primary li.current > a { font-weight: bold; }
.documentation .tsd-navigation.primary li.label span { display: block; padding: 20px 0 6px 5px; color: #808080; }
.documentation .tsd-navigation.primary li.globals + li > span, .documentation .tsd-navigation.primary li.globals + li > a { padding-top: 20px; }

.documentation .tsd-navigation.secondary ul { -webkit-transition: opacity 0.2s; transition: opacity 0.2s; }
.documentation .tsd-navigation.secondary ul li a { padding-left: 25px; }
.documentation .tsd-navigation.secondary ul li li a { padding-left: 45px; }
.documentation .tsd-navigation.secondary ul li li li a { padding-left: 65px; }
.documentation .tsd-navigation.secondary ul li li li li a { padding-left: 85px; }
.documentation .tsd-navigation.secondary ul li li li li li a { padding-left: 105px; }
.documentation .tsd-navigation.secondary ul li li li li li li a { padding-left: 125px; }
.documentation .tsd-navigation.secondary ul.current a { border-left-color: #eee; }
.documentation .tsd-navigation.secondary li.focus > a, .documentation .tsd-navigation.secondary ul.current li.focus > a { border-left-color: #000; }
.documentation .tsd-navigation.secondary li.current { margin-top: 20px; margin-bottom: 20px; border-left-color: #eee; }
.documentation .tsd-navigation.secondary li.current > a { font-weight: bold; }

.tsd-kind-enum-member > .tsd-kind-icon:before { background-position: 0px -136px; }
.tsd-kind-enum-member.tsd-is-protected > .tsd-kind-icon:before { background-position: -17px -136px; }
.tsd-kind-enum-member.tsd-is-private > .tsd-kind-icon:before { background-position: -34px -136px; }

.tsd-kind-enum > .tsd-kind-icon:before { background-position: 0px -119px; }
.tsd-kind-enum.tsd-is-protected > .tsd-kind-icon:before { background-position: -17px -119px; }
.tsd-kind-enum.tsd-is-private > .tsd-kind-icon:before { background-position: -34px -119px; }

.tsd-kind-enum-member a:hover {
    text-decoration: underline;
    cursor: pointer;
}