mat-accordion {
    mat-expansion-panel {
      border-radius: 0px !important;
      ::ng-deep.mat-expansion-panel-header {
        .mat-content {
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
  
      ::ng-deep.mat-expansion-panel-body {
        padding: 0;
      }
  
      mat-nav-list {
        padding: 0;
  
        a.mat-list-item {
          padding: 0 24px;
          line-height: 48px;
  
          ::ng-deep.mat-list-item-content {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  
    ::ng-deep.mat-expansion-panel.mat-expansion-panel-spacing {
      margin: 0;
    }
  }
  
