<div class = "documentation">
    <div class="tsd-page-toolbar">
      <div class="container">
        <div class="table-wrap">
          <div class="table-cell" id="tsd-search" >
            <div class="field">
              <label for="tsd-search-field" (click)="startSearch($event)" class="tsd-widget search no-caption">Search</label>
              <input id="tsd-search-field" type="text" [(ngModel)]="searchContent" (ngModelChange) = "checkName($event)" (keydown) = "setKeyDown($event)"/>
            </div>
            <ul class="results">
              <li *ngIf="searchContent ===''">Preparing search key...</li>
              <li *ngIf="isEmptyObj && !(searchContent ==='')" >The search key is not available</li>
              <li *ngFor="let search of searchObj | keyvalue ; let j=index" id = "list{{j}}" class = "searchList" [ngClass]="setNgClass(search.value)">
                <a  class="tsd-kind-icon" id = "{{search.key}}" [routerLink]="setRouter(search.key)">
                  <span class="parent">{{search.value.routerName.replace('-','.').substring(0, search.value.routerName.replace('-','.').lastIndexOf('.')+1)}}</span>{{search.value.routerName.replace('-','.').substring(search.value.routerName.replace('-','.').lastIndexOf('.') + 1)}}
                </a>
              </li>
    
            </ul>
          </div>
          <div class="table-cell" id="tsd-widgets">
            <div id="tsd-filter">
              <a href="#" class="tsd-widget options no-caption" data-toggle="options">Options</a>
              <div class="tsd-filter-group">
                <div class="tsd-select" id="tsd-filter-visibility">
                  <span class="tsd-select-label">All</span>
                  <ul class="tsd-select-list">
                    <li data-value="public">Public</li>
                    <li data-value="protected">Public/Protected</li>
                    <li data-value="private" class="selected">All</li>
                  </ul>
                </div>
                <input type="checkbox" id="tsd-filter-inherited" checked />
                <label class="tsd-widget" for="tsd-filter-inherited">Inherited</label>
                <input type="checkbox" id="tsd-filter-only-exported" />
                <label class="tsd-widget" for="tsd-filter-only-exported">Only exported</label>
              </div>
            </div>
            <a  class="tsd-widget menu no-caption" data-toggle="menu">Menu</a>
          </div>
        </div>
      </div>
    </div>
  </div>