section {
  position: relative;
  margin: auto;
  max-width: 780px;
  color: #616161;
  line-height: 24px;

  h4 {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin: 24px 0 16px;
  }

  ::ng-deep ul {
    list-style-type: none;
    padding: 0 20px;
  }
}