section {
    position: relative;
    margin: auto;
    padding: 20px;
    max-width: 780px;
    color: #616161;
  
    h4 {
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;
      margin: 24px 0 16px;
    }
    
    ul {
      line-height: 24px;
      a {
        color: rgb(224,64,251);
        font-weight: 500;
      }
    }
  }

  