<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
      <a routerLink="{{isEditPage ? ('../' + node.keys[0] + '/edit/' + node.keys.slice(1).join('/')) : ( '../' + node.keys.join('/'))}}" routerLinkActive="active">{{node.title}}</a>
    </mat-tree-node>
    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
      <div class= "parent">
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.title">
          <mat-icon class="mat-icon-rtl-mirror">{{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <span>{{node.title}}</span>
      </div>
      <div class="children" [class.invisible]="!treeControl.isExpanded(node)">
        <ng-container matTreeNodeOutlet></ng-container>
      </div>
    </mat-nested-tree-node>
</mat-tree>
