.mat-icon-button {
    padding: 0;
    min-width: 0;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    line-height: 30px;
    border-radius: 50%;
  }
  
  mat-tree-node {
    min-height: 30px;
    a {
      color: rgba(0,0,0,.87);
      text-decoration: none !important;
    }
    a:hover {
      text-decoration: none !important;
    }
    a.active {
     color: blue;;
    }
  
    }
  mat-nested-tree-node {
    .parent {
      line-height: 35px;
    }
    .children {
      padding-left: 30px;
      line-height: 35px;
    }
  
    .children.invisible {
      display: none;
    }
  }

  
  
  
  
  
  