<main class="mdl-layout__content documentation">
    <header>
      <app-type-doc-search [documentObject] = "documentObject"></app-type-doc-search>
      <div class="tsd-page-title">
        <div class="container">
          <ul class="tsd-breadcrumb">
            <li>
              <a routerLink="../globals">Globals</a>
            </li>
          </ul>
          <h1> dv</h1>
        </div>
      </div>
    </header>
    <div *ngIf="documentJson" class="container container-main">
      <div class="row">
        <div class="col-8 col-content">
          <section class="tsd-panel-group tsd-index-group">
            <h2>Index</h2>
            <section class="tsd-panel tsd-index-panel">
              <div class="tsd-index-content">
                <section class="tsd-index-section ">
                  <h3>{{documentJson[0].kindString}}</h3>
                  <ul class="tsd-index-list">
                    <li *ngFor="let obj of documentJson" class="tsd-kind-external-module">
                      <a [routerLink]="['../modules',obj.name]" class="tsd-kind-icon">
                        {{obj.name}}
                      </a>
                    </li>
                  </ul>
                </section>
              </div>
            </section>
          </section>
        </div>
        <div class="col-4 col-menu menu-sticky-wrap menu-highlight">
          <nav class="tsd-navigation primary">
            <ul>
              <li class="globals">
                <a routerLink="../globals"><em>Globals</em></a>
              </li>
              <li *ngFor="let obj of documentJson" class="tsd-kind-external-module">
                <a [routerLink]="['../modules',obj.name]" class="tsd-kind-icon">
                  {{obj.name}}
                </a>
              </li>
            </ul>
          </nav>
          <nav class="tsd-navigation secondary menu-sticky">
            <ul class="before-current">
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="overlay"></div>
  </main>