section {
    margin: 20px auto;
    max-width: 1500px;
    padding: 30px;
  
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  
    .header {
      margin-bottom: 20px;
  
      h4 {
        font-size: 24px;
        line-height: 32px;
        margin: 0 0 16px;
      }
    }
  
    .content {
      display: flex;
      flex-flow: row wrap;
      margin: 0 auto;
      align-items: stretch;
  
      .pane {
        margin: 6px;
        border: 1px solid #f4f4f4;
      }
  
      .left.pane {
        width: 320px;
  
        ::ng-deep.mat-tab-body-content {
          height: 450px;
        }
      }
  
      .right {
        display: inline-flex;
        flex-flow: column;
        flex: 1;
        user-select: none;
        position: relative;
        width: 30%;
  
        ul.components {
          height: 48px;
          border-bottom: 1px solid #e0e0e0;
  
          list-style: none;
          padding-left: 0;
          margin: 0;
  
          .component {
            float: right;
          }
        }
  
        .app-plot-viewer, .app-plot-viewer-external {
          display: block;
          width: 100%;
          height: 450px;
        }
      }
  
      .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: 100;
  
        ::ng-deep.mat-spinner {
          margin: 0;
          left: calc(50% - 24px);
          top: 50%;
        }
      }
    }
  }