@import '~@angular/material/theming';
@import './app//components//app/app.component.theme.scss';
@import './app//components//category/category.component.theme.scss';
@include mat-core();

$primary: mat-palette($mat-deep-purple);
$accent: mat-palette($mat-amber, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);
@include app-theme($theme);
@include category-theme($theme);
@include app-typography($theme);


