.tsd-typography dt{
    line-height: 1.333em;
}

.lead p {
    margin: 0;
}
/** Correct font family set oddly in IE 6, Safari 4/5, and Chrome. */
code, kbd, pre, samp { font-family: monospace, serif; _font-family: "courier new", monospace; font-size: 1em; }

/** Improve readability of pre-formatted text in all browsers. */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

code, pre { font-family: Menlo, Monaco, Consolas, "Courier New", monospace; padding: 0.2em; margin: 0; font-size: 14px; background-color: rgba(0, 0, 0, 0.04); }

pre { padding: 10px; }
pre code { padding: 0; font-size: 100%; background-color: transparent; }

a {
    color: #4da6ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.tsd-typography p, .tsd-typography ul, .tsd-typography ol {
    margin: 1em 0;
}

div {
    color: #616161 !important;
    line-height: 24px;
}


dd { margin: 0 0 0 40px;}
dl, menu, ol, ul { margin: 1em 0; }

dl.tsd-comment-tags { overflow: hidden; }
dl.tsd-comment-tags dt { clear: both; float: left; padding: 1px 5px; margin: 0 10px 0 0; border-radius: 4px; border: 1px solid #808080; color: #808080; font-weight: normal; }
dl.tsd-comment-tags dd { margin: 0 0 10px 0; }
dl.tsd-comment-tags p { margin: 0; }
