::ng-deep.app-root {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
  
    header {
      position: relative;
      z-index: 2;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  
      .logo {
        height: 36px;
      }
  
      .mat-toolbar {
        font-size: 14px;
        font-weight: 500;
        padding: 0;
        height: 48px;
  
        .mat-icon-button,
        .mat-button {
          padding: 0 8px;
        }
  
        ::ng-deep.mat-button {
          line-height: 48px;
        }
      }
    }
  
    main {
      flex-grow: 1;
      height: 100%;
      overflow: auto;
    }
  }