@import "~@angular/material/theming";
 
@mixin app-theme($theme) {
 $primary: map-get($theme, primary);
 $accent: map-get($theme, accent);
 .app-root {
    header {
        .mat-toolbar {
            background-color: mat-color($primary, 700);       
        button[mat-button],button[mat-icon-button] {
            background-color: transparent;
            color: rgba(255, 255, 255, 0.6);
            border-width: 0;
        }
        
        .mat-button-focus-overlay {
            background-color: transparent;
        }
        
        button[mat-button].mat-button-active {
            color: rgb(255, 255, 255);
        }
        }
    }
 }
}
 
@mixin app-typography($config) {
}