.documentation .tsd-hierarchy { list-style: square; padding: 0 0 0 20px; margin: 0; }
.documentation .tsd-hierarchy .target { font-weight: bold; }

@import '../type-doc-modules/type-doc-modules.component.scss';

.documentation .tsd-flag { display: inline-block; padding: 1px 5px; border-radius: 4px; color: #fff; background-color: #808080; text-indent: 0; font-size: 14px; font-weight: normal; }

.tsd-parent-kind-class a:hover,
.tsd-parent-kind-interface a:hover {
    cursor: pointer;
}