:host {
    flex: 1;
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
    overflow: hidden;
    width: 100% !important;
    height: 100%;
  }
  .editor-container {
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    min-width: 0;
    display: table;
    width: 100% !important;
    height: 100%;
  }
  