/*
 *
 * Data Visualiztion Library
 *
 * Copyright(c) GrapeCity, Inc.  All rights reserved.
 * 
 */

.gcdv-control {
    outline: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.gcdv-state-disabled {
    opacity: .5;
    cursor: default;
    pointer-events: none
}

.gcdv-tooltip {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    pointer-events: none;
    max-width: 400px;
    padding: 6px;
    background-color: #ffffe5;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 6px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-sizing: border-box;
    line-height: 110%;
}

.gcdv-tooltip-color-symbol {
    width: 0.8em;
    height: 0.8em;
    margin: 0px 1.5px 0px 1.5px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border-style: solid;
    box-sizing: border-box;
}

.gcdv-popup {
    background-color: #fff;
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    z-index: 1500;
    margin: 2px 0
}

.gcdv-popup-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1500;
    background-color: rgba(0, 0, 0, .5)
}


/*scrollbar*/
.gcdv-scrollbar.gcdv-hover>.gcdv-scrollbar-trackX,
.gcdv-scrollbar.gcdv-hover>.gcdv-scrollbar-trackY {
    background-color: transparent;
    opacity: .6;
}

.gcdv-scrollbar.gcdv-scrolling-x>.gcdv-scrollbar-trackX,
.gcdv-scrollbar>.gcdv-scrollbar-trackX:hover {
    background-color: #eee;
    opacity: .9;
}

.gcdv-scrollbar.gcdv-scrolling-x>.gcdv-scrollbar-trackX>.gcdv-scrollbar-thumbX,
.gcdv-scrollbar>.gcdv-scrollbar-trackX:hover>.gcdv-scrollbar-thumbX {
    top: 1px;
    bottom: 1px;
}

.gcdv-scrollbar.gcdv-scrolling-y>.gcdv-scrollbar-trackY,
.gcdv-scrollbar>.gcdv-scrollbar-trackY:hover {
    background-color: #eee;
    opacity: .9;
}

.gcdv-scrollbar.gcdv-scrolling-y>.gcdv-scrollbar-trackY>.gcdv-scrollbar-thumbY,
.gcdv-scrollbar>.gcdv-scrollbar-trackY:hover>.gcdv-scrollbar-thumbY {
    left: 1px;
    right: 1px;
}

.gcdv-scrollbar-trackX {
    opacity: 0;
    height: 11px;
    border-radius: 4px;
}

.gcdv-scrollbar-thumbX {
    position: absolute;
    top: 2px;
    bottom: 2px;

    border-radius: 6px;
    background-color: #aaa;
    transition: background-color .5s linear, height .5s ease-in-out;
    -webkit-transition: background-color .5s linear, height .5s ease-in-out;
}

.gcdv-scrollbar-trackY {
    opacity: 0;
    width: 11px;
    border-radius: 6px;
}

.gcdv-scrollbar-thumbY {
    position: absolute;
    left: 2px;
    right: 2px;

    border-radius: 6px;
    background-color: #aaa;
    transition: background-color .5s linear, width .5s ease-in-out;
    -webkit-transition: background-color .5s linear, width .5s ease-in-out;
}

